.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  border-collapse: border-collapse;
  border: 1px solid gray;
}
th,
td {
  padding: 1rem;
  border: 1px solid gray;
  text-align: left;
}
button {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
}
button.ascending::after {
  content: "\2191";
  padding-left: 0.2rem;
}
button.descending::after {
  content: "\2193";
  padding-left: 0.2rem;
}
button.show-password {
  width: auto;
  padding: 0.2rem;
  font-weight: normal;
  border: 1px solid red;
  margin-left: 1rem;
}
